# Firebase Configuration
# Get these values from your Firebase Console -> Project Settings -> General -> Web App

VITE_FIREBASE_API_KEY=AIzaSyCjoMO3oZXMUNAGADCa6nln_t2sqxzBqag
VITE_FIREBASE_AUTH_DOMAIN=tz-ims-production.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tz-ims-production
VITE_FIREBASE_STORAGE_BUCKET=tz-ims-production.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=455130357173
VITE_FIREBASE_APP_ID=1:455130357173:web:d53d58132c14372a698dfc
VITE_FIREBASE_MEASUREMENT_ID=G-HXMNJMYDXC
# Optional named Firestore database ID. Leave blank for default database.
VITE_FIREBASE_DATABASE_ID=
